[Unit]
Description=OSync system hibernate actions
Before=systemd-hibernate.service

[Service]
Type=oneshot
ExecStart=/usr/bin/logger -t hibernate -s "osync-hibernate.service"
ExecStart=/usr/local/bin/osync-sleep.sh "hibernate"

[Install]
WantedBy=systemd-hibernate.service
