Source: osync
Section: unknown
Priority: optional
Maintainer: Torsten Gruoner <tohempel@unknown>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/osync
#Vcs-Git: https://salsa.debian.org/debian/osync.git
Rules-Requires-Root: no

Package: osync
Architecture: all
Depends: ${misc:Depends};inotify-tools,mailutils
Description: A two way filesync script running on bash Linux, BSD, Android, MacOSX, Cygwin, MSYS2, Win10 bash and virtually any system supporting bash. File synchronization is bidirectional, and can be run manually, as scheduled task, or triggered on file changes in monitor mode. It is a command line tool rsync wrapper with a lot of additional features baked in.
